/*обнуление стилей*/

* {
    padding: 0;
    margin: 0;
}

.navigation {
    width: 100%;
    height: 45px;
    background-color: rgb(219, 217, 217);
    align-self: baseline;
}

main,
.backet {
    width: 1600px;
    margin: 0 auto;
}

h2 {
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button1 {
    background-color: white;
    border: none;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 10px;
}

.finde {
    border: none;
    color: white;
    margin: 10px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 20px;
    width: 700px;
}

.backet {
    height: 50px;
}

a {
    text-decoration: none;
}

.cart-button {
    background-color: white;
    border-radius: 25px;
    padding: 5px 25px;
    margin-top: 5px;
    margin-left: 90%;
    font-size: 20px;
    outline: none;
}

.cart-button:hover,
.button3:hover {
    background-color: #9c9cdb;
    transform: translateY(2px);
}

.cart-button:active,
.button3:active {
    background-color: rgb(214, 192, 206);
    outline: none;
    box-shadow: 15 0 15 0 10px rgb(14, 17, 19)
}


/*корзина с товаром*/

.shopping-cart {
    width: 540px;
    border-collapse: collapse;
    height: auto;
    margin: auto;
    table-layout: fixed;
    display: none;
}

.shopping-cart,
.shopping-cart th,
.shopping-cart tr {
    border: 1px solid #595959;
}

.shopping-cart th,
.shopping-cart tr {
    padding: 3px;
    width: 50px;
    height: 35px;
}

.goods-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.goods-item {
    display: block;
    text-decoration: none;
    padding: 30px;
    outline: 2px solid #000;
    margin: 30px;
}

h3,
p {
    text-align: center;
    padding: 10px;
    font-size: 30px;
    color: black;
}

.button3 {
    background-color: white;
    border-radius: 25px;
    padding: 5px 25px;
    margin-top: 5px;
    font-size: 20px;
    float: right;
}